/* navbar.css */

.navbar {
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 3;
  }
  
  .logo {
    width: 4rem; /* adjust as needed */
    height: 3rem;
    object-fit: cover;
  }
  
 
  
  .desktopMenuListItem {
    margin: 1rem; /* adjust as needed */
    cursor: pointer;
  }  


  .desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
  }
  
  .desktopMenuBtn {
    background-color: White; /* adjust as needed */
    color: black; /* adjust as needed */
    padding: 0rem 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
  }
  

  .desktopMenuImg {
    object-fit: cover;

    width: 1rem; /* adjust as needed */
    height: 1rem;
    margin: 1rem; /* adjust as needed */
  }
  